.cart-icon{
    font-size: 200px;
   
    
     margin: auto;
   
    
}
 .cart h1{
    color: red;
    text-align: center;
}
.cart button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    display: block;
    font-weight: bold;
    margin: auto;
}
.cart-card{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 30px 0px;
}
.cart-card img{
    height: 200px;
}
.cart-details{
    width: 300px;
    
}
.cart-details h3{
    width: inherit;
    color: rgb(208, 208, 254);
    font-size: x-large;
}
.quantity{
    margin: 20px 0px;
}
.quantity button{
    padding: 10px 25px;
    background-color: grey;
    color: white;
    font-size: large;
    border: none;
}
.remove_icon{
    height: fit-content;
    font-size: x-large;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}
.cart-Full{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 80px 0px;
}
.summery{
    width: 400px;
    text-align: start;
}
.summery h3{
    font-size: xx-large;
    margin-bottom: 50px;
}
.cart-summery{
    display: flex;
    gap: 100px;
    justify-content: space-between;
}
.cart-summery p{
    margin: 20px 0px;
    font-size: x-large;
}
.colorchange{
color: green;
}
.summery hr{
    margin: 10px 0px;
}
.totalPrice{
    font-size: xx-large;
    font-weight: bold;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}
.checkout{
    width: 100%;
    padding: 10px 0px;
    border-radius: 8px;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    font-size: xx-large;
}
